@tailwind base;
@tailwind components;
@tailwind utilities;

#ContentPage -webkit-scrollbar {
  display: none;
}
body {
  background-color: #d1d5db; /* Tailwind CSS gray-300 color */
}


@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes float-slow {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-slow {
  animation: float-slow 8s ease-in-out infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30) forwards;
}

.embed-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .embed-container {
    max-width: 300px;
  }
}
